body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.header-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.pagecontent-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pagecontent-container h2 {
    text-align: center;
}

#buttons-container {
    margin: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}

#buttons-container button {
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 10px;
}

#buttons-container button:hover {
    transform: scale(1.1);
}

#buttons-container button img {
    width: 100px;
    height: 100px;
}


#gamecontainer {
    margin: 50px auto;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #333;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#scorecontainer {
    margin: 20px auto;
    width: 200px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}

#playAgainContainer {
    margin: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}

.footer-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}